/* You can add global styles to this file, and also import other style files */
.block {
    width: 80px;
    height: 80px;
}

.piece {
    padding: 5px;
}

img {
    max-height: 100%;
    max-width: 100%;
}